.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  height: 200px;
  width: 600px;
  border-radius: 0px 30px 0px 30px;
  box-shadow: 5px 8px 11px black;
  margin:5px;
}
.form {
  margin: 20px;
}
.form > input,
.form > select {
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
}
.container > button {
  /* width: 100px; */
  height: 30px;
  background-color:goldenrod;
  color: white;
  border-radius: 15px;
  font-weight: 700;
}
@media (max-width: 525px) {
  .container {
    height: 250px;
  }
}
